{% extends "base.html" %}


{% block content %}

<h1>Accept/Reject Swaps</h1>

        <table>
        <!-- title column-->
        <tr>
            {% for col_name in pending_swap[0] %}
            <th>{{col_name}}</th>
            {% endfor %}
            <th>Detail</th>
        </tr>
        <!-- main content-->
        {% for row in pending_swap[1] %}
        <tr>
            {% for value in row %}
            <th>{{value}}</th>
            {% endfor %}
            <th><input type ="submit" id="accept_{{ row[0] }}" name="acceptReject" value="accept"></th>
            <th><input type ="submit" id="reject_{{ row[0] }}" name="acceptReject" value="reject"></th>
        </tr>
        {% endfor %}
        </table>

    {% endblock %}

    {% block script %}
<script defer type="text/javascript" >
    {% include('js/accept_reject_swap.js') %}
</script>
    {% endblock %}